{% extends 'tmpl_basic1.html' %}

{% block my_css %}
    <link href="/bootstrap-3.3.5-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/iuser_main/iu_info/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/css/iuser_main/iu_info/style.css">

    <link rel="stylesheet" type="text/css" href="/css/iuser_main/iu_delivery/demo.css"/>

{% endblock %}

{% block my_js %}
    <script src="/js/iuser_main/iu_info/modernizr.js"></script>
    <script src="/js/iuser_main/iu_info/jquery-2.1.1.js"></script>
    <script src="/js/iuser_main/iu_info/main.js"></script> <!-- Resource jQuery -->

    <script src="/js/iuser_main/iu_delivery/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
    <script src="/js/iuser_main/iu_delivery/demo.js"></script>
    <script src="/bootstrap-3.3.5-dist/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/bootstrap-3.3.5-dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>

    <script>
        jqu.loadJs('/js/iuser_main/common.js');
        var main_route = '{{main_route}}';
    </script>
{% endblock %}


{% block my_body %}

    {#用户卡片iu_info#}
    <div class="cd-pricing-container cd-full-width cd-secondary-theme">


        <ul class="cd-pricing-list cd-bounce-invert">
            <li>
                <ul class="cd-pricing-wrapper">
                    <li data-type="monthly" class="is-visible">
                        <header class="cd-pricing-header">
                            <h2>个人卡片</h2>
                            <div class="cd-price">
                                <span class="cd-value">{{ hr.real_name }}</span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li>{{ hr.name }}</li>
                                <li>{{ hr.phone }}</li>
                                <li>{{ hr.email }}</li>
                                <li>{{ hr.company_name }}</li>
                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <input type="radio" name="duration" value="yearly" id="yearly">
                            <label class="cd-select" for="yearly">修改信息</label>
                        </footer> <!-- .cd-pricing-footer -->
                    </li>

                    <li data-type="yearly" class="is-hidden">
                        <header class="cd-pricing-header">
                            <h2>修改卡片</h2>

                            <div class="cd-price">
                                <span class="cd-value"><input type="text" value="{{ hr.real_name }}" placeholder="姓名"></span>
                            </div>
                        </header> <!-- .cd-pricing-header -->

                        <div class="cd-pricing-body">
                            <ul class="cd-pricing-features">
                                <li><input type="text" value="{{ hr.name }}" name="name" placeholder="用户名"></li>
                                <li><input type="text" value="{{ hr.phone }}" name="phone" placeholder="手机号" readonly></li>
                                <li><input type="text" value="{{ hr.email }}" name="email" placeholder="电子邮箱" readonly></li>
                                <li><input type="text" value="{{ hr.company_name }}" placeholder="所属公司" readonly></li>
                            </ul>
                        </div> <!-- .cd-pricing-body -->

                        <footer class="cd-pricing-footer">
                            <input type="radio" name="duration" value="monthly" id="monthly" checked>
                            <label class="cd-select" for="monthly">提交信息</label>
                        </footer> <!-- .cd-pricing-footer -->
                    </li>
                </ul> <!-- .cd-pricing-wrapper -->
            </li>
        </ul> <!-- .cd-pricing-list -->

    </div> <!-- .cd-pricing-container -->

    {#被投递记录#}
    <div class="deliver-container">
        <!-- coidea:header START -->
        <header>
            <div class="header-inner">
                <h1>被投递记录</h1>
            </div>
        </header>
        <!-- coidea:header END -->

        <!-- coidea:table-holder START -->
        <section class="table-wrapper">

            <!-- coidea:table-holder:table START -->
            <table>

                <!-- coidea:table-holder:table:head START -->
                <thead>
                <tr>
                    <th></th>
                    {#            <th class="trigger"><p>Basic</p><span>plus</span></th>#}
                    {% for rec in hr_deliveried_record %}
                        <th class="trigger"><p>{{ rec.real_name }}</p></th>
                    {% endfor %}

                </tr>
                </thead>
                <!-- coidea:table-holder:table:head END -->

                <!-- coidea:table-holder:table:body START -->
                <tbody>

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>投递职位</strong></p>
                        <p>Position</p></td>
                    {% for rec in hr_deliveried_record %}
                        {% if rec.data==1 %}
                            <td><p>{{ rec.job_title }}</p> <span>-</span></td>
                        {% else %}
                            <td><p>-</p> <span>-</span></td>
                        {% endif %}
                    {% endfor %}

                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>学历</strong></p>
                        <p>Education</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                <span>{{ rec.educational_experience }}</span>
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}

                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>所在城市</strong></p>
                        <p>City</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                <span>{{ rec.city }}</span>
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}
                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>生日</strong></p>
                        <p>Birthday</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                <span>{{ rec.birthday }}</span>
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}
                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>联系方式</strong></p>
                        <p>Tel</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                <span>{{ rec.phone }}</span>
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}
                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>邮箱</strong></p>
                        <p>Email</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                <span>{{ rec.email }}</span>
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}
                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>投递时间</strong></p>
                        <p>Delivery Time</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                <span>{{ rec.delivery_time }}</span>
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}
                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                <!-- coidea:table-holder:table:body:row START -->
                <tr>
                    <td><p><strong>状态</strong></p>
                        <p>State(Yes/No)</p></td>
                    {% for rec in hr_deliveried_record %}
                        <td>
                            {% if rec.data==1 %}
                                {% if rec.status==0 %}
                                    <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                    <span>
                                        <button class="btn btn-info" onclick="receive({{ rec.delivery_id }})">接收</button>
                                        <button class="btn btn-info" onclick="repulse({{ rec.delivery_id }})">打回</button>
                                    </span>
                                {% elif rec.status==1 %}
                                    <img src="/img/iuser_main/iu_delivery/icon-correct.png" class="correct" alt=""/>
                                    <span>已接收</span>
                                {% else %}
                                    <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                    <span>已打回</span>
                                {% endif %}
                            {% else %}
                                <img src="/img/iuser_main/iu_delivery/icon-close.png" class="close" alt=""/>
                                <span>-</span>
                            {% endif %}
                            {#                    <p>1GB *</p>#}
                        </td>
                    {% endfor %}
                </tr>
                <!-- coidea:table-holder:table:body:row END -->

                </tbody>
                <!-- coidea:table-holder:table:body END -->

            </table>
            <!-- coidea:table-holder:table END -->

        </section>
        <!-- coidea:table-holder END -->
    </div>

    {#工作经历#}
    <div class="container" style="width:95%;">
        <div class="row">
            <div class="col-sm-12">
                <!-- 查询表单 -->
                <form id="form_search" class="form-inline" role="form" method="get" action="{{ url_for('companyhr.main') }}">

                    <div class="form-group">
                        <label>已发布人才职位</label>
                    </div>

                    <button type="button" class="btn btn-primary" onclick="presave(0)"><i class="fa fa-plus"></i> 新增人才职位</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <!-- 数据显示表格 -->
                <table class="table table-striped" style="height: 300px;">
                    <thead>
                    <tr>
                        <th>职位名称</th>
                        <th>学历要求</th>
                        <th>工作城市</th>
                        <th>工作地址</th>
                        <th>薪资范围</th>
                        <th width="45%">职位要求/简述</th>
                        <th width="150">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for position in hr_recruitment_position %}
                        <tr style="height: 0">
                            <td>{{ position.job_title }}</td>
                            <td>{{ position.education_requirements }}</td>
                            <td>{{ position.work_city }}</td>
                            <td>{{ position.work_address }}</td>
                            <td>{{ position.salary_range }}</td>
                            <td style="word-wrap:break-word;word-break:break-all;white-space: pre-line;">{{ position.job_description }}</td>
                            <td>
                                <a href="javascript:;" onclick="presave({{ position.job_id }})"><i class="fa fa-edit"></i> 修改</a>
                                &nbsp;
                                <a href="javascript:;" onclick="remove({{ position.job_id }})"><i class="fa fa-remove"></i> 删除</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div> <!-- container 结束 -->

    {#收藏记录#}
{#    <div class="container" style="width:95%;">#}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <!-- 查询表单 -->#}
{#                <form id="form_search" class="form-inline" role="form" method="get" action="{{ url_for('iuser.main') }}">#}
{##}
{#                    <div class="form-group">#}
{#                        <label>我的收藏</label>#}
{#                    </div>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-sm-12">#}
{#                <!-- 数据显示表格 -->#}
{#                <table class="table table-striped" style="height: 300px;">#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th>职位名</th>#}
{#                        <th>公司名</th>#}
{#                        <th>工作地点</th>#}
{#                        <th>薪资</th>#}
{#                        <th>发布人</th>#}
{#                        <th>发布时间</th>#}
{#                        <th width="150">操作</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for position_heart in iu_position_heart %}#}
{#                        <tr style="height: 0">#}
{#                            <td><a href="{{ url_for('jobs.details',id=position_heart.job_id) }}" target="_blank">{{ position_heart.job_title }}</a></td>#}
{#                            <td><a href="{{ url_for('companys.details',id=position_heart.company_id) }}" target="_blank">{{ position_heart.company_name }}</a></td>#}
{#                            <td>{{ position_heart.work_city }}</td>#}
{#                            <td>{{ position_heart.salary_range }}</td>#}
{#                            <td>{{ position_heart.hr_name }}</td>#}
{#                            <td>{{ position_heart.create_time }}</td>#}
{#                            <td>#}
{#                                <a href="javascript:;" onclick="heart_remove({{ position_heart.job_id }})"><i class="fa fa-heartbeat"></i> 取消收藏</a>#}
{##}
{#                            </td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    <tr></tr>#}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div> <!-- container 结束 -->#}
{##}

    <!-- 模态框（Modal）新增/修改工作经历 -->
    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">新增/修改 职位信息</h4>
                </div>
                <div class="modal-body">

                    <form role="form" id="form_am">

                        <div class="form-group">
                            <label>职位名称</label>
                            <input type="text" class="form-control" name="job_title" placeholder="请输入职位名称">
                        </div>

                        <div class="form-group">
                            <label>学历要求</label>
                            <input type="text" class="form-control" name="education_requirements" placeholder="请输入学历要求">
                        </div>

                        <div class="form-group">
                            <label>工作城市</label>
                            <input type="text" class="form-control" name="work_city" placeholder="请输入工作城市">
                        </div>

                        <div class="form-group">
                            <label>工作地点</label>
                            <input type="text" class="form-control" name="work_address" placeholder="请输入工作详细地址">
                        </div>

                        <div class="form-group">
                            <label>薪资范围</label>
                            <input type="text" class="form-control" name="salary_range" placeholder="请输入薪资范围">
                        </div>

                        <div class="form-group">
                            <label>职位要求/简述</label>
                            <textarea class="form-control" name="job_description" placeholder="请简述要求/工作内容" style="resize: none;height:150px;"></textarea>
                        </div>

                        <input type="hidden" name="job_id" value="0"/>


                    </form>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="save()">提交</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}


