{% extends 'tmpl_basic1.html' %}

{% block my_css %}
<link href="/bootstrap-3.3.5-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{#<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>#}
<link rel="stylesheet" href="/css/iuser_main/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="/css/iuser_main/style.css">
{% endblock %}

{% block my_js %}
<script src="/bootstrap-3.3.5-dist/js/bootstrap-datetimepicker.min.js"></script>
<script	src="/bootstrap-3.3.5-dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<script src="/js/iuser_main/modernizr.js"></script>
<script src="/js/iuser_main/jquery-2.1.1.js"></script>
<script src="/js/iuser_main/main.js"></script> <!-- Resource jQuery -->
<script>

jqu.loadJs('/js/tnews.js');
</script>
{% endblock %}


{% block my_body %}

<div class="cd-pricing-container cd-full-width cd-secondary-theme">


    <ul class="cd-pricing-list cd-bounce-invert">
        <li>
            <ul class="cd-pricing-wrapper">
                <li data-type="monthly" class="is-visible">
                    <header class="cd-pricing-header">
                        <h2>简介</h2>

                        <div class="cd-price">
                            <span class="cd-value">{{ iu.real_name }}</span>
                        </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li>{{ iu.user_name }}</li>
                            <li>{{ iu.phone }}</li>
                            <li>{{ iu.email }}</li>
                            <li>{{ iu.birthday }}</li>
                            <li>{{ iu.city }}</li>
                            <li>{{ iu.current_identity }}</li>
                            <li>{{ iu.industry }}</li>
                            <li>{{ iu.personal_experience }}</li>
                            <li>{{ iu.educational_experience }}</li>
                        </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                        <input type="radio" name="duration" value="yearly" id="yearly">
                        <label class="cd-select" for="yearly">修改信息</label>
                    </footer> <!-- .cd-pricing-footer -->
                </li>

                <li data-type="yearly" class="is-hidden">
                    <header class="cd-pricing-header">
                        <h2>修改</h2>

                        <div class="cd-price">
                            <span class="cd-value"><input type="text" value="{{ iu.real_name }}" placeholder="姓名"></span>
                        </div>
                    </header> <!-- .cd-pricing-header -->

                    <div class="cd-pricing-body">
                        <ul class="cd-pricing-features">
                            <li><input type="text" value="{{ iu.user_name }}" placeholder="用户名"></li>
                            <li><input type="text" value="{{ iu.phone }}" placeholder="手机号"></li>
                            <li><input type="text" value="{{ iu.email }}" placeholder="电子邮箱"></li>
                            <li><input type="text" value="{{ iu.birthday }}" placeholder="生日"></li>
                            <li><input type="text" value="{{ iu.city }}" placeholder="所在城市"></li>
                            <li><input type="text" value="{{ iu.current_identity }}" placeholder="学生/职场人士"></li>
                            <li><input type="text" value="{{ iu.industry }}" placeholder="行业"></li>
                            <li><input type="text" value="{{ iu.personal_experience }}" placeholder="个人标签"></li>
                            <li><input type="text" value="{{ iu.educational_experience }}" placeholder="教育/学校/学位"></li>
                        </ul>
                    </div> <!-- .cd-pricing-body -->

                    <footer class="cd-pricing-footer">
                        <input type="radio" name="duration" value="monthly" id="monthly" checked>
                        <label class="cd-select" for="monthly">提交信息</label>
                    </footer> <!-- .cd-pricing-footer -->
                </li>
            </ul> <!-- .cd-pricing-wrapper -->
        </li>
    </ul> <!-- .cd-pricing-list -->
</div> <!-- .cd-pricing-container -->

{% endblock %}


