{#
网页基础模板定义
#}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recruitment</title>
	<!-- bootstrap CSS -->
	<link href="/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
	{# 自定义的CSS #}
	{% block my_css %}{% endblock %}
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	 <div class="container-fluid">
         <div class="navbar-header">
             <a class="navbar-brand" href="/">招聘网</a>
         </div>
         <div>
             <ul class="nav navbar-nav">
                 <li><a href="{{url_for('jobs.list')}}">职位搜索</a></li>
                 <li><a href="{{url_for('companys.list')}}">公司</a></li>
                 <li><a href="{{url_for('iuser.main')}}">个人中心</a></li>
             </ul>
         </div>
         <div class="navbar-header" style="float: right;">
             <a class="navbar-brand" href="{{ url_for('iuser.logout') }}">登出</a>
         </div>
	 </div>
 </nav>

{# 自定义的内容 #}
{% block my_body %}{% endblock %}
	

<!-- bootstrap js -->
<script src="/bootstrap-3.3.5-dist/js/jquery.min.js"></script>
<script src="/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="/iceking-utils-jquery.js"></script>
<script src="/sweetalert.min.js"></script>

{# 自定义的脚本 #}
{% block my_js %}{% endblock %}
</body>
</html>
