{% extends 'tmpl_basic1.html' %}

{% block my_css %}
<link href="/bootstrap-3.3.5-dist/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block my_js %}
<script src="/bootstrap-3.3.5-dist/js/bootstrap-datetimepicker.min.js"></script>
<script	src="/bootstrap-3.3.5-dist/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

<script>
//上一次查询的日期值，需要在脚本初始化时候设置
var date1 = '{{dm.date1}}';
var date2 = '{{dm.date2}}';

jqu.loadJs('/js/tnews.js');
</script>  
{% endblock %}


{% block my_body %}

  <div class="container" style="width:95%;"> 
   <div class="row"> 
    <div class="col-sm-12"> 
     <!-- 查询表单 --> 
     <form id="form_search" class="form-inline" role="form" method="post" action="{{url_for('jobs.list')}}">
	 
	  <div class="form-group"> 
       <label>栏目：</label> 
       <select class="form-control" name="fclass">
	   <option value="">----</option>
	   {% for x in dm.allclasses %}
	   <option value="{{x}}" {% if x==dm.fclass %}selected{% endif %}>{{x}}</option>
	   {% endfor %}
	   </select>
	   
      </div> 
	 
      <div class="form-group"> 
       <label>关键字：</label> 
       <input type="text" class="form-control" name="kw" style="width: 120px;" placeholder="请输入关键字" value="{{dm.kw}}" />
      </div> 
	  
	  <div class="form-group">
				<label>日期段：</label> <input type="text"
					class="form-control" name="date1" value=""
					style="width: 120px;" placeholder="选择开始时间" readonly="true">
	</div>
	<div class="form-group">
		<label>~</label> <input type="text"
					class="form-control" name="date2" value="" style="width: 120px;"
					placeholder="选择结束时间" >
	</div>
      
      <button type="button" class="btn btn-default" onclick="search()"><i class="fa fa-search"></i> 查询</button> 
      <button type="button" class="btn btn-primary" onclick="presave(0,'news')"><i class="fa fa-plus"></i> 新增</button>
	  
      <input type="hidden" name="page" value="{{dm.page}}" /> 
      <input type="hidden" name="pagesize" value="{{dm.pagesize}}" />
     </form> 
    </div> 
   </div> 
   <div class="row"> 
    <div class="col-sm-12">
      {% if dm.total>0 %} 
     <!-- 数据显示表格 --> 
     <table class="table table-striped"> 
      <caption>
       新闻数据。第 {{dm.page}} / {{dm.totalpage}} 页，共 {{dm.total}} 条。
      </caption> 
      <thead> 
       <tr> 
        <th width="50%">标题</th> 
        <th>时间</th> 
        <th>栏目</th> 
        <th>点击量</th> 
		<th width="150">操作</th> 
       </tr> 
      </thead> 
      <tbody>
        {% for row in dm.rows %} 
       <tr> 
        <td><a href="{{url_for('jobs.detail',id=row.id)}}" target="_blank">{{row.title}}</a></td>
        <td>{{row.fdate}}</td> 
        <td>{{row.fclass}}</td> 
        <td>{{row.clickrate}}</td> 
        <td>
			<a href="javascript:;" onclick="presave({{row.id}},'news')"><i class="fa fa-edit"></i> 修改</a>
			&nbsp;
			<a href="javascript:;" onclick="remove({{row.id}},'news')"><i class="fa fa-remove"></i> 删除</a>
		
		</td> 
       </tr> 
	   {% endfor %} 
      </tbody> 
     </table> 
     <!-- 翻页，靠右，必须有页码的时候 --> 
     <ul class="pagination">
	    <li><a href="javascript:;" onclick="changePage(1)" data-toggle="tooltip" title="首页">&laquo;</a></li>
		{% for pageno in dm.pagenumbers %}
	    <li {% if pageno==dm.page %} class="active" {% endif %}><a href="javascript:;" onclick="changePage({{pageno}})">{{pageno}}</a></li>
	    {% endfor %}
	    <li><a href="javascript:;" onclick="changePage({{dm.totalpage}})" data-toggle="tooltip" title="末页 共 {{dm.totalpage}} 页">&raquo;</a></li>
	</ul>
	
	
	

	 {% else %} 
     <h3>查询无结果.</h3>
	 
	 {% endif %} 
    </div> 
   </div> 
   
   
  </div> <!-- container 结束 -->
  
  
  <!-- 模态框（Modal）新增/修改新闻 -->
  <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
	  <div class="modal-dialog">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				  <h4 class="modal-title" >新增/修改 新闻数据</h4>
			  </div>
			  <div class="modal-body">
				  
				  <form role="form" id="form_am">
					<div class="form-group">
					  <label>栏目</label>
					  <input type="text" class="form-control" name="fclass" placeholder="请输入新闻栏目">
					</div>
					
					<div class="form-group">
					  <label>标题</label>
					  <input type="text" class="form-control" name="title" placeholder="请输入新闻标题">
					</div>
					
					<div class="form-group">
					  <label>日期</label>
					  <input type="text" class="form-control" name="fdate" placeholder="请输入新闻日期">
					</div>
					
					<div class="form-group">
					  <label>内容</label>
					  
					  <textarea class="form-control" name="content" placeholder="请输入新闻内容" style="resize: none;height:150px;"></textarea>
					</div>
					
					<input type="hidden" name="id" value="0" /> 
					
					
				  </form>
				  
				  
			  </div>
			  <div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				  <button type="button" class="btn btn-primary" onclick="save('news')">提交</button>
			  </div>
		  </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
{% endblock %}


